@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 18, 18, 18;
  --background-end-rgb: 18, 18, 18;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #121212;
  font-family: var(--font-inter), 'San Francisco', sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
